# OS
.DS_Store

# Logs
logs/
logging/
*.log

# VS Code counter
.VSCodeCounter/

# Env files (keep example)
envs/.env.*
!envs/.env.example

# SSL / certs
nginx/ssl/

# Node
node_modules/

# Docker
*.pid

# Misc
.git.env
