#Environment
NODE_ENV=

# WhatsApp Configuration
META_APP_ID=
META_APP_SECRET=
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=your_verify_token_here

# Google Sheets
GOOGLE_SPREADSHEET_ID=
DEFAULT_LEARNER_LOCATION=

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GOOGLE_REFRESH_TOKEN=
# Server Configuration
PORT=3000

#DB
# MONGO_URI=mongodb+srv://rajmineshagrawal:qinhAKCGR69kzoD9@cluster0.pkzafa2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=

#GPT
# OPENAI_API_KEY=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

#GEMINI
GOOGLE_AI_API_KEY=

# Timezone
APP_TIMEZONE=
# Session Timeout in minutes        
SESSION_TIMEOUT_MINUTES=60
# Context Timeout in minutes
CONTEXT_TIMEOUT_MINUTES=5




