#Environment
NODE_ENV=

# WhatsApp Configuration
META_APP_ID=
META_APP_SECRET=
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=

# Google Sheets
GOOGLE_SPREADSHEET_ID=
DEFAULT_LEARNER_LOCATION=

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GOOGLE_REFRESH_TOKEN=

# Server Configuration
PORT=3000

#DB
MONGO_URI=

#GPT
OPENAI_API_KEY=

#GEMINI
GOOGLE_AI_API_KEY=

#Instructor Details
INSTRUCTOR_NAME=
INSTRUCTOR_EMAIL=

# Timezone
APP_TIMEZONE=
# Session Timeout in minutes        
SESSION_TIMEOUT_MINUTES=60
# Context Timeout in minutes
CONTEXT_TIMEOUT_MINUTES=5




